* {
    box-sizing: border-box;
}

body {
    background: #1e1e1e;
    color: #9efefe;
}

div {
    margin: 0;
}

div#canvas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 66vh;
    aspect-ratio: 1/1;
    border: 1px solid #9efefe;
}

div.row {
    flex: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.cell {
    flex: auto;
    height: 100%;
    background: blue;
}