* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #9efefe;
    background: #1e1e1e;
}

div {
    margin: 0;
}

button {
    padding: 8px 16px;
    color: #9efefe;
    background-color: #1e1e1e;
    border: 1px solid #9efefe;
}

div#canvas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 66vh;
    aspect-ratio: 1/1;
    border: 1px solid #9efefe;
}

div.row {
    flex: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.cell {
    flex: auto;
    height: 100%;
}

div.--marked {
    background-color: #101010;
    border: none;
}